{% extends "base.html" %}

{% block container %}
<head>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">PlainMed</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/mymeds">MyMeds</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/auth/login">Sign In</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>
</head>

<body>

    {% block content %}{% endblock %}
</body>
{% endblock %}