    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index.index') }}">PlainMed</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
              <li><a href="{{ url_for('medication.index') }}">Add meds</a></li>
              <li><a href="{{ url_for('medication.mymeds') }}">My meds</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if not g.user.is_authenticated() %}
              <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
              <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
            {% else %}
              <li><a>Logged in as: {{g.user.username}}</a></li>
              <li><a href="{{ url_for('auth.logout') }}">Sign out</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
