{% extends "base.html" %}

{%- block container -%}
<h1>My Medications</h1>
{% for m in meds %}
<div class='container'>
	<h2>{{m.Medicine.name}}</h2>
	{% if m.amount == 1 %}
		<h3> You Should Take {{m.MedicineUser.amount}} Pill Of <i>{{m.Medicine.name}}</i> {{m.MedicineUser.intake}}</h3>
	{% else %}
		<h3> You Should Take {{m.MedicineUser.amount}} Pills Of <i>{{m.Medicine.name}}</i> {{m.MedicineUser.intake}}</h3>
	{% endif %}
	<h3> Your Notes: {{m.MedicineUser.notes}}</h3>
</div>
{% endfor %}
{% endblock %}