{% extends "base.html" %}

{%- block container -%}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1> {{med.name}} </h1>
        {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {%- for msg in msgs %}
            <div class="alert alert-info">
              {{ msg }}
            </div>
          {% endfor -%}
        {% endif %}
      {% endwith %}
        {% from "formhelper.html" import render_field2 %}
        <form method=post action="{{ url_for('medication.addmeds', medication=med.link)}}">
            {{render_field2(form.amount) }}
            {{render_field2(form.amount_type) }}
            {{render_field2(form.intake) }}
            {{render_field2(form.notes) }}

          <p><input type=submit value='Add medications'>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}