{% extends "base.html" %}

{%- block container -%}
<h1>My Medications</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
{% for m in meds %}
    <div class="thumbnail">
      <div class="caption">
          <h3>{{m.Medicine.name}}<br><small>{{m.MedicineUser.amount }}{{ m.MedicineUser.amount_type}} - {{m.MedicineUser.intake}}</small></h3>
          <p>{{m.MedicineUser.notes}}</p>
          <p>
              <a href="http://www.lyfjabokin.is/Lyf/{{m.Medicine.link}}/" class="btn btn-primary" role="button" target="_blank">Info</a>
              <a href="{{ url_for('medication.deleteUsers', id=m.Medicine.id) }}" class="pull-right btn btn-danger" role="button">Delete</a>
          </p>

    </div>
    </div>
{% endfor %}</div>
    </div>
{% endblock %}